/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
@keyframes hero {
  from {
transform: translateY(-300px);
  }
  to {
transform: translateY(0);
  }
}
@keyframes emoji {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
   
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
html {
  scroll-behavior: smooth;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 0.5rem;
}
button:hover{
cursor: pointer;
}
.about {
  border: none;
}
.resume {
  border: 1px solid rgba(89, 89, 89, 1);
  padding: 7px;
  border-radius: 6px;
}
.header button {
  margin: 10px;
}
.menu{
  display: none;
}
.home{
  transition: 3s ease-in-out;

}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: rgba(89, 89, 89, 1);
  transition: all 3s ease-in-out;
  animation: hero 1s ease-in;
}
.welcome {
  font-size: 1.2rem;
}
.name {
  text-align: center;
  margin: 10px;
  font-size: 1.8rem;
}
.intro {
  word-wrap: wrap;
  white-space: break-word;
  width: 60%;
  text-align: center;
}
.CTA {
  margin: 10px;
  padding: 8px;
  border-radius: 3px;
  border: none;
  background-color: black;
  color: white;
  transition :0.5s ease-in-out
}
.CTA:hover{
transform:translateY(10px);
background-color: red;

}
.emoji {
  height: 21px;
  vertical-align: middle;
  animation: emoji 1s linear ;

  /* This is the full version rather than the shorthand property above
  /* animation-name: emoji;
  animation-duration: 1s;
  animation-timing-function:ease-in-out;
  animation-delay: 0s; 
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none; */
}
.role {
  color: rgba(3, 3, 3, 1);
  padding-top: 10px;
  font-weight: bold;
}
.projects {
  margin: 20px;
  padding: 20px;
}
.heading p {
  font-size: 1rem;
  color: rgba(89, 89, 89, 1);
}
.project-card {
  width: 300px;
  margin: 0 auto;
  background-color: rgba(235, 247, 254, 1);
  border-radius: 10px;
  box-shadow: 0 0 4px;
}
.project-card img {
  width: 100%;
}
.cardName {
  display: flex;
  justify-content: space-between;
}
.card-details {
  padding: 10px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.myProjects {
  margin: 20px;

}
.sub-text {
  font-size: 12px;
  color: rgba(89, 89, 89, 1);
}
.title {
  margin-bottom: 6px;
}
.link {
  display: flex;
  align-items: center;
}
.link img {
  width: 15px;
}
.link a {
  text-decoration: none;
  color: #0f4fa8;
}
.shots {
  /* border: 1px solid ; */
  height: 300px;
  margin: 20px;
  padding: 20px;
}
.slideshow {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.shot-slide {
  display: flex;
}
.slides {
  display: flex;
  align-self: center;
  margin: 10px;
  overflow: visible;
}
.slides img {
  width: 150px;
}
.previous-next {
  display: flex;
  justify-content: space-between;
}
.previous,
.next {
  display: flex;
}
.previous img {
  width: 20px;
  margin-right: 6px;
  cursor: pointer;
}
.next img {
  width: 20px;
  margin-left: 6px;
  cursor: pointer;
}
.previous p,
.next p {
  cursor: pointer;
}
.youtube {
  margin: 20px;
  padding: 20px;
}
.yt-section {
}
.yt {
  margin: 20px;
  text-align: center;

}
.yt-video{
  width: 370px;
}
.yt-video img {
  width: 350px;
  padding: 20px;
}
.orgs {
  display: flex;
  align-items: center;
  margin: 10px;
}
.org {
  width: 120px;
 
}
.orgLogo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* display: flex;
  flex-direction: column;
  justify-content: center; */

  /* flex: 50%;
  max-width: 50%; */

}
.brands {
  margin: 20px;
  padding: 20px;
}
.icon-links{
  display: flex;
  margin: 5px;
}
.findMe-links{
  display: flex;
  align-items: center;

}
.icon{
  width: 40px;
  align-items: center;
}
.sm-links{
  display: flex;
  justify-content: center;
  border: 1px solid grey;
  margin: 15px;
}
.workWithUs{
  margin: 20px;
  padding: 20px;
}
.footer{
  background-color: black;
  padding: 15px;
}
.footer p{
  color: white;
  text-align: center;
  font-size: 14px;

}


/* responsiveness */
@media only screen  and (max-width:900px){
  .options{
display: none;
  }
  .menu{
    display: flex;
  }
}

@media only screen  and (min-width:750px){
  .options{
display:flex;
  }
  .menu{
    display: flex;
  }
  .myProjects {
    /* display: grid;
    grid-template-columns: repeat(330px, 2);
    background-color: red; */
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(2, 1fr);
  }
  .project-card {
    width: 90%;
    margin: 0 auto;
    background-color: rgba(235, 247, 254, 1);
    border-radius: 10px;
    box-shadow: 0 0 4px;
    
  }
  .yt {
    display: flex;
    justify-content: center;
   

  }
  .yt-video{
    width: 100%;
  }
  .yt-video img {
    width: 80%;
    padding: 20px;
  }
  .source-text{
    width: 90%;
    text-align: center;
    align-items: center;
   
  }
  .orgLogo {
    display: flex;
  justify-content: center;
  align-items: center;
  
  }
  .orgs{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}